*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:white;
}
.con{
    width:966px;
    margin:0 auto;
}


/* header部分 */
.header{
    height: 122px;
}
.logo{
    width: 250px;
    height: 122px;
    background: url(安利.png);
    background-size: contain;
    float:left;
}
.list{
    list-style: none;
    float:right;
    height: 44px;
    margin-top: 10px;
    line-height: 44px;

}
.list li{
    float:left;
}
.list li a{
    padding:0 10px;
    border-right:1px solid gray;
    color:rgb(190, 189, 189);
    text-decoration: none;
}
.search{
    width:300px;
    height:30px;
    float:right;
    border:2px solid gainsboro;
}
.search .s1{
    height:30px; 
    width:260px; 
    box-sizing: border-box;
    border:0px;
    outline: none;
    padding-left:10px;
    float:left;
}
.search .s2{
    height:30px;
    width:40px;
    box-sizing: border-box;
    float:right;
    border:0;
    background:url(搜索按钮.png) no-repeat center center;
}


/* nav部分 */
.nav{
    height:53px;
    line-height: 53px;
    background-color:#0c345c;
    border-top:1px solid gainsboro;
}
.nav li{
    float:left;
    box-sizing: border-box;
    margin-right:76px;
    color:white;
    font-size:16px;
    list-style: none;
}


/* banner部分 */
.banner{
    height:420px;
    background:url(banner.png) no-repeat top center;
    background-size:1500px 400px;
}


/* listx部分 */
.listx{
    box-sizing: border-box;
    height: 213px;
    margin-top:51px;
    margin-bottom:35px;
}
.item{
    box-sizing: border-box;
    height: 213px;
    width: 303px;
    border: 1px solid gray;
    float:left;
    margin-right: 28px;
}
.item img{
    display:block;  
}   
.itemlast{
    margin-right: 0;
}


/* footer部分 */
.footer{
    height:205px;
    background: url(footer.png);
}
.mlist{
    height: 144px;
}
.footer ul{
    height:84px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ecebeb;
    line-height: 28px;
}
.footer li{
    list-style: none;
    float:left;
    padding-left:30px;
    width: 210px;
    font-size:14px;
    color:#336699;
}
.footer p{
    height: 61px;
    line-height: 61px;
    padding-left: 30px;
}
